
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    background-color: rgb(40, 39, 39);
}
.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: opacity(0.5);
    filter: brightness(1.2);
}

.container{
    margin: auto;
    width: 70%;
    background-color: rgba(59, 59, 59,0.4);
    margin-top: 10rem;
    padding: 2rem 5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    border: 1px solid rgb(126, 126, 126);
}
.weather-header{
    background-color: rgb(17, 17, 17);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    width: 25%;
}
.weather-header .fa-magnifying-glass
{
    color: antiquewhite;
    font-size: 1.5rem;
}
.city_name{
    padding: 0.1rem;
    margin-left: 1rem;
    background-color: rgb(17, 17, 17);
    color: antiquewhite;
    width: 60%;
    outline: none;
    border: none;
}
.city_name::placeholder{
    color: rgb(188, 187, 185);
    font-size: 1rem;
    text-transform: capitalize;
}
.weather-body{
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top:5rem;
}
.weather-city{
    font-size: 2.8rem;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-weight: 600;
    color: rgb(255, 255, 255);
}
.weather-date--time{
    font-size: 1.6rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: 400;
    color: rgb(255, 255, 255);
}
.weather-data{
    margin: auto;
    display: flex;
    flex-direction: column;
}
.weather-icon{
    text-align: center;
    color: antiquewhite;
}

.weather-forecast{
    background-color: black;
    padding: 1rem 2rem;
    border-radius: 1rem;
    color: white;
    font-size: 2rem;
    font-family: sans-serif;
    margin-top: 1.5rem;
}
.weather-temp{
    font-family: sans-serif;
    font-size: 2rem;
    text-align: center;
    color: antiquewhite;
}
.weather-minmax{
    display: flex;
    gap: 2rem;
    justify-content: center;
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: 500;
    color: antiquewhite;
    margin-top: 1rem;
}
.weather-info
{
    background-color: rgb(246, 246, 227);
    border-radius: 1rem;
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    margin-top: 3rem;
    gap:2rem;
}
.weather-card
{
    background-color: rgb(234, 246, 246);
    padding: 1rem 2rem;
    border-radius: 1rem;
    display: flex;
    gap:1rem;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 18px 50px -10px;
}

.footer-icon
{
    font-size: 3rem;
    margin-right: 2rem;
    color: rgb(31, 31, 31);
}
.footer-div p{
    font-size: 1.5rem;
    font-family: sans-serif;
}
.weather_feelslike
{
    font-size: 1.2rem !important;
   /* text-transform: capitalize;*/
    color: rgb(79 79 79)
}

/*.wctwo{
    background-color: rgb(248, 183, 183);
}
.wcthree{
    background-color: rgb(232, 167, 252);
}
.wcfour{
    background-color: rgb(255, 140, 186);
}*/


@media (width<720px)
{
    .weather-info{
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    }
}
@media (width<650px)
{
   html{
    font-size: 50%;
   }
}
@media (width<660px){
    .weather-header{
        width: 60%;
    }
}

@media (width<540px)
{
    .weather-info{
        grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
    }
    .city_name{
        width: 40%;
    }
}
@media (width<430px)
{
    
    .weather-header{
        width: 100%;
    }
    
}